.header {
  display: flex;
  justify-content: space-between;
  background: rgb(24, 23, 23);
  align-items: center;
  padding: 10px 60px;
  color: white;

  @media (max-width:768px) {
    padding:10PX 10px 20px 10PX;
  }
}

.header .logo {
  display: flex;
  align-items: center;
}

.header .logo .name {
  font-size: 30px;
  color: white;
  font-family: monospace;
}

.header .logo .header-image {
  height: 50px;
  width: 50px;


  @media (max-width:450px) {
    .header .header-image {
      margin-left: 0px;
    }
  }

}

.header .logo .header-image img {
  width: 100%;
  height: 100%;
}

.header .search {
  display: flex;
  border-radius: 15px;
  overflow: hidden;
  align-items: center;
  border: 2px solid rgb(51, 51, 51);
  height: 45px;
}

.header .search .input {
  padding: 5px 20px;
  border: none;
  background: rgba(0, 0, 0, 0.548);
  color: white;
  height:100%;
}

.header .search .input::placeholder {
  color: rgb(187, 187, 187);
}

.header .lupa {
  width: 50px;
  height: 30px;
  background: rgb(73, 73, 73);
  height:100%;
  padding:5px 0 5px 0;
}

.header .lupa svg {
  display: block;
  height: 100%;
  width: 100%;
  fill: rgb(196, 196, 196);
}


@media screen and (max-width: 570px) {
  .header .logo .name {
    display: none;
  }


}


